---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
// import "../scripts/menu.js";

const pageTitle = "About Me";

const identity = {
    firstName: "Preeti",
    lastName: "Aarya",
    country: "India",
    occupation: "Frontend Developer",
    hobbies: ["readingNobel", "writring", "sketching"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "p5"];
---

<Layout>
    <div class="about">
        <!-- <a href="/">Home</a>
    <a href="/about/">About</a> -->

        <img src="/images/astro-img.jpeg" alt="astro-img" />
        <h1>{pageTitle}</h1>
        <h2>Wecome!</h2>

        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}{identity.lastName}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.occupation
                }.
            </li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
            laborum blanditiis dignissimos ad, dolorum possimus accusamus.
            Adipisci culpa qui quo, odio quibusdam nobis reiciendis atque
            voluptatum harum deleniti. Possimus, reprehenderit. Quae praesentium
            debitis sapiente eaque ipsam? Nobis illo maiores, dolorum deserunt
            porro debitis doloremque eius culpa quis totam, esse, corporis
            commodi ullam rem quia. Repudiandae illum consectetur dolorum?
            Eaque, ullam. Aperiam, quae. Repellendus doloribus nihil quibusdam
            suscipit fugiat eveniet eaque eos excepturi delectus voluptatem
            animi vero aperiam accusantium, ipsam ducimus nostrum neque incidunt
            at atque natus. Aperiam suscipit quasi quia? Quibusdam dolores
            labore quidem voluptatem, adipisci facere doloremque quos facilis
            
        </p>
    </div>
</Layout>
<style>
    .about {
        background-color: beige;
    }
    h1 {
        color: purple;
        font-size: 2rem;
    }
    .skill {
        color: green;
        font-weight: bold;
    }
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
</style>
